@media(max-width:575px) and (min-width:0px){
    .nav-item .nav-link{
       display: inline-block;
    }

    .nav-item{
        text-align: center;
    }
    .main{
        margin-top: 25%;
    }
    .main h1{
        margin: 10px 0;
    }
    .main h2{
        margin: auto;
    }

    .home{
        background-color: rgba(0, 0, 0, 0);
        opacity: 1;
    }

    .about h1 {
        margin-top: 15%;
    }

    .design{
        margin: auto;
    }

    input[type="submit"]{
        width: 20%;
    }
    .footer-left h4{
        text-align: center;
        font-size: 17px;
    }

    .footer p{
        font-size: 17px;
    }

    .footer p span{
        font-size: 17px;
    }

    input{
        width: 70%;
    }

    textarea{
        width: 70%;
    }
}

@media(max-width:767px) and (min-width:576px){
    .nav-item .nav-link{
        display: inline-block;
     }
 
     .nav-item{
         text-align: center;
     }
     .main h1{
         margin: 10px 0;
     }
     .main h2{
         margin: auto;
     }
 
     .home{
         background-color: rgba(0, 0, 0, 0);
         opacity: 1;
     }
 
     .about h1 {
         margin-top: 15%;
     }
 
     .design{
         margin: auto;
     }
 
     input[type="submit"]{
         width: 21%;
     }

     .footer-left h4{
        text-align: center;
    }
}

@media(max-width:991px) and (min-width:768px){
    .nav-item .nav-link{
        display: inline-block;
     }
 
     .nav-item{
         text-align: center;
     }
     .main h1{
         margin: 10px 0;
     }
     .main h2{
         margin: auto;
     }
     .pic {
        margin-top: 10%;
    }
    .intro p {
        font-size: 14px;
    }
    .design{
        width: 220px;
    }
    input[type="submit"]{
        width: 21%;
    }
}